<%- include ('partials/header') %>

    <%
    for (pic of gallery) {
        if (pic.id == title) { %>
            <div class="items">
                <img src="/images/lrg/ <%= pic.filename %>" alt= "<% pic.title %>">
                
                <p> <%= photo.title %> <a class="source" href="<%= pic.attribution.url %>"> <%= pic.attribute.credit %></a> <%= pic.attribution.source %> </p>
    
            </div>
        <%} } %>
        
<%- include ('partials/footer') %>